.container_appo{
    width: calc(100vw-10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
}
.container_appo_header{
    width: 60vw;
    font-size: 4vh;
    text-align: center;
    padding-bottom: 5vh;
}
.container_appo_item{
    height: 60vh;
    width: 60vw;
    font-size: 2vh;
    padding-bottom: 10vh;
}

.container_appo_item_login{

}
.form_group{
    
}