.container_history{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_history_title{
    font-size: 4vh;
    width: 60vw;
    text-align: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.container_history_content{
    font-size: 2vh;
    width: 60vw;
    margin-bottom: 4vh;

}