.nav{
  background-color: #00FFCC;
  width: 100vw;
  height: 10vh;
  display: flex;
  
}
.nav_comp{
  background-color: #00FFCC;
  font-size: 3vh;
  height: 10vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.nav_comp:hover{
  background-color: #30ceaf;
}
.dropdown1{
  background-color: red;
  position: fixed;
  top:20vh;
  left: 25vw;
  width: 25vw;
  
}